<div id="user-info-container">
  <% if user.errors.any? %>
    <div class="error-message mb-4">
      <ul class="list-disc pl-5">
        <% user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p style="display: flex; gap: 10px; align-items: center; justify-content: center;">
    <span id="user-name" class="border-2 rounded p-2" style="min-width: 100px; min-height: 44px; display: inline-block; text-align: center;"><%= user.username %></span>
    <i class="fas fa-pencil-alt cursor-pointer bg-green-500 text-white p-3 rounded" id="edit-icon" onclick="editUserName()"> 編集</i>
  </p>
  
  <div id="edit-form" style="display: none; height: 44px;">
    <%= form_with(model: user, local: false, url: update_username_user_path(user), method: :patch, id: "name-form") do |f| %>
      <div style="display: flex; gap: 6px; align-items: center; justify-content: center;">
        <%= f.text_field :username, value: user.username, class: "border-2 rounded p-2", style: "text-align: center; display: inline-block;" %>
        <%= f.submit '更新', class: 'bg-green-500 text-white p-2 rounded font-bold flex-shrink-0' %>
        <button type="button" onclick="cancelEdit()" class="bg-gray-300 text-black-400 p-2 rounded font-bold flex-shrink-0">戻る</button>
      </div>
    <% end %>
  </div>
</div>

