<div class="flex items-center justify-center h-screen">  <div class="pt-6 pb-8 mb-4" style="width: 500px;">
    <h2 class="text-center text-xl font-bold mb-4"><%= I18n.t('devise.sessions.new.title') %></h2>
    <%= form_with model: @user, url: new_user_session_path, local: true do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <% if notice.present? %>
        <p class="error-message"><%= notice %></p>
      <% end %>
  
      <% if alert.present? %>
        <p class="error-message"><%= alert %></p>
      <% end %>

      <div class="mb-4">
        <%= f.label :email, t('form.labels.email'),class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, t('form.labels.password'), class: "block text-gray-700 text-sm font-bold mb-0" %>
        <% if @minimum_password_length %>
          <span class="text-gray-700 text-sm">(<%= "#{@minimum_password_length} #{t('devise.passwords.new.characters_minimum')}" %>)</span>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>
      <div class="flex justify-between mb-4">
        <div></div>
        <a class="inline-block align-baseline font-bold text-sm text-orange-500 hover:text-orange-300" href="#">
          <%= I18n.t('devise.passwords.new.forgot_password') %>
        </a>
      </div>

      <div class="flex justify-center mb-4">
        <%= f.submit t('devise.sessions.new.sign_in'), class: "bg-orange-500 hover:bg-orange-300 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  
    <p class="text-center text-gray-500 text-xs">
      &copy;2024 NyanDex. All rights reserved.
    </p>
  </div>
</div>