<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nyandex" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" />
    <link rel="stylesheet" href="<%= asset_path('application.css') %>" as="style">
  </head>

  <body>
    <div class="flex flex-col min-h-screen">
      <header class="header">
        <%= render 'layouts/header' %>
      </header>

      <main class="flex-grow flex flex-col items-center">
        <div id="flash-message-container">
          <%= render 'layouts/flash_message' %>
        </div>

        <div class="w-full">
          <%= yield %>
        </div>
      </main>

      <footer class="footer">
        <div class="footer-container">
          <p>&copy; 2024 NyanDex. All rights reserved.</p>
        </div>
      </footer>
    </div>
  </body>
</html>
